.bottom-social {
   background: transparent image-url("bg-bottom-social.png") 0 0 no-repeat;
   color: $white;
   .page-header {
      padding: 35px 0 6px;
   }
   .follow-text {
      @include breakpoint() {
         @include font-size(13px);
         margin-left: 15px;
         margin-right: 15px;
      }
   }
   @include breakpoint() {
      background: transparent image-url("m/bg-bottom-social.png") 0 0 no-repeat;
   }
}
.buckets {
   margin-top: 54px;
   padding-bottom: 50px;
}
.bucket {
   @extend .pull-left;
   background: $white;
   position: relative;
   height: 63px;
   width: 174px;
   margin-right: 16px;

   &:first-child {
      margin-left: 0;
   }
   &:last-child {
      margin-right: 0;
   }
   @include breakpoint() {
      width: 265px;
      margin: 0 0 30px 14px;
      &:first-child {
         margin: 0 0 30px 14px;
      }
   }
   .icon {
      position: absolute;
      top: -20px;
      &.facebook {
         @include center(174px, "icon-facebook.png");
         @include breakpoint() {
            @include center(265px, "icon-facebook.png");
         }
      }
      &.twitter {
         @include center(174px, "icon-twitter.png");
         @include breakpoint() {
            @include center(265px, "icon-twitter.png");
         }
      }
      &.instagram {
         @include center(174px, "icon-instagram.png");
         @include breakpoint() {
            @include center(265px, "icon-instagram.png");
         }
      }
      &.pinterest {
         @include center(174px, "icon-pinterest.png");
         @include breakpoint() {
            @include center(265px, "icon-pinterest.png");
         }
      }
   }
}

.button-container {
   position: absolute;
   top: 30px;
   &.facebook {
      left: 24px;
      @include breakpoint() {
         left: 84px;
      }
   }
   &.twitter {
      left: 19px;
      @include breakpoint() {
         left: 67px;
      }
   }
   &.instagram {

   }
   &.pinterest {
      left: 25px;
      @include breakpoint() {
         left: 72px;
      }
   }
}

footer {
   @include font-size(13px);
   color: $white;
   padding-bottom: 60px;
}
