body {
   background: $black;
   font: {
      family: $font-stack;
      weight: 300;
   }
}
.container {
   margin: 0 auto;
   width: $site-full-width;
}

.page-header {
   @include font-size(29px);
   font-family: $roman;
   border: none;
   color: $white;
   text-transform: uppercase;
   margin: 38px 0 20px;
}
