.media-no-data {
   @include clearfix();
   background: rgb(28, 36, 221);
   @include background-image (linear-gradient(90deg, rgb(28, 36, 221) 115px, rgb(255, 255, 255) 116px));
   min-height: 100px;
   -webkit-transform-style: preserve-3d;
   margin: 0 0 10px 0;
   @include breakpoint() {
      background: #fff;
   }
   .show-number {
      @include font-size(22px);
      font-family: $roman-bold;
      color: $white;
      padding: 32px 20px 0 0;
      font-weight: 400;
      line-height: 1;
      text-align: right;
      text-transform: uppercase;
      width: 104px;
      @include breakpoint() {
         background: rgb(28, 36, 221);
         display: block !important;
         width: 100%;
         padding: 20px 20px 5px 20px;
         text-align: left;
         br {
            display: none;
         }
      }
   }
   .show-content {
      padding: 25px 20px 10px 20px;
      width: 639px;
      @include breakpoint() {
         width: 256px;
         padding: 10px 0;
         margin: 0 20px;
      }
      .col-md-8 {
         padding: 0;
      }
      .media-heading {
         @include font-size(20px);
         text-transform: uppercase;
         font-weight: bold;
         margin: 0;
         letter-spacing: -1px;
         @include breakpoint() {
            padding-bottom: 13px;
         }
      }
      h5  {
         @include font-size(13px);
         text-transform: uppercase;
         font-weight: bold;
         color: $black;
         letter-spacing: -1px;
         margin-top: -3px;
         display: inline-block;
      }
      .show-location {
         @include font-size(16px);
         color: $gray;
         @include breakpoint() {
            margin-bottom: 13px;
         }
      }
      .col-md-4 {
         @include breakpoint() {
            margin: 0 0 15px 0;
            padding: 0;
         }
      }
      .datetime {
         @include font-size(20px);
         color: $pink;
         font-weight: bold;
         padding: 0 18px 0 0;
         margin: 0;
         line-height: 0.9;

         &.small {
            display: none;
         }

         @include breakpoint() {
            @include font-size(19px);
            &.big {
               display: none;
            }
            &.small {
               display: block;
            }
         }
      }
   }
}

.media-is-live {
   @include clearfix();

   position: relative;
   background: $white;
   margin: 0 0 46px 0;
   @include breakpoint() {
      margin: 0 0 10px 0;
   }
   img {
      @include breakpoint() {
         width: 100%;
      }
   }
   .right-content {
      margin: 29px 40px 20px 0;
      width: 307px;
      @include breakpoint() {
         display: block !important;
         width: 258px;
         margin: 18px;
      }
      p.description {
         @include font-size(12px);
         color: $gray;
         padding-top: 10px;
      }
      .knockout {
         font-family: $roman-bold;
         font-weight: 400;
         background: $black;
         padding: 12px;
         color: $white;
         p {
            margin: 0;
         }
         .media-heading {
             @include font-size(24px);
             margin: 0 0 2px 0;

         }
      }
   }
   .bottom-buttons {
      position: absolute;
      bottom: -17px;
      left: 25px;
      margin: 0;
      @include breakpoint() {
         position: relative;
         bottom: 0;
         left: 0;
         li {
            margin-bottom: 15px;
         }
      }
      li:last-child {
         margin-left: 54px;
         @include breakpoint() {
            margin-left: 0;
         }
      }
   }
}
