@import "compass/css3";
@import "../../../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

body {
   font-family: 'Open Sans', sans-serif;
   padding-top: 40px;
}

.login {
   background: #444;
   padding: 40px 0;
   .form-signin {
      background: #eee;
      padding: 40px;
      @include border-radius(10px);
   }
}

// A perfectly cromulent word.
.embiggin {
   font-size: larger;
}

.page-header {
   border-bottom: 0;
}
